.titulo {
    text-align: center;
    color: rgb(101, 48, 96)  ;
    background-color:  rgb(212, 159, 195);
}

.info {
    text-align: justify;
}

.contacto {
    text-align: center;
}

.info2 {
    text-align: justify;
}

.titulocur {
    text-align: center;
    color: rgb(101, 48, 96);
    background-color:  rgb(212, 159, 195);
}

.info3 {
    text-align: justify;
}

.titulo3 {
    text-align: center;
    color: rgb(101, 48, 96)  ;
    background-color:  rgb(212, 159, 195);
}

.tablatitulo {
    text-align: center;
    color: rgb(101, 48, 96)  ;
    background-color:  rgb(212, 159, 195);
}

.tablainfo {
    text-align: justify;
    background-color: rgba(219, 199, 237, 0.98);
}

.tablaencabezado {
    text-align: center;
    background-color: rgba(173, 141, 203, 0.81);
}