.titulo {
    text-align: center;
}

.info {
    text-align: justify;
}

.contacto {
    text-align: center;
}

.info2 {
    text-align: justify;
}

.titulocur {
    text-align: center;
}

.info3 {
    text-align: justify;
}

.titulo3 {
    text-align: center;
}