.titulo {
    text-align: center;
}

.info {
    text-align: justify;
}


.contacto {
    text-align: center;
}

.info2 {
    text-align: justify;
}

.titulocur {
    text-align: center;
}

.imgagencur {
    align-items: center;
}